<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>記事一覧</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>記事一覧</h1>

        <form action="/" method="get">
            <input type="text" name="q" placeholder="検索キーワード" th:value="${keyword}">
            <button type="submit">検索</button>
        </form>

        <a href="/form">新規追加</a>
        <ul>
            <li th:each="article : ${articles}">
                <a th:href="${article.url}" th:text="${article.title}"></a> - <span th:text="${article.memo}"></span>
                <form th:action="@{'/delete/' + ${article.id}}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
                </form>
            </li>
        </ul>
    </body>
</html>